@media (min-width: 1270px) and (max-width: 1345px) {
  .stage:nth-child(7)::after {
    width: 300px;
    height: 200px;
    right: -21px;
  }

  .main {
    gap: 55px;
  }
}

@media (min-width: 1200px) and (max-width: 1269px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }

  .header-title__top,
  .header-title__middle,
  .header-title__end {
    font-size: 36px;
  }

  .support-actions__text,
  .support-actions__text-highlight {
    font-size: 28px;
  }

  .header-content {
    width: 450px;
  }

  .header-btn {
    width: 200px;
    padding: 13px 20px;
  }

  .stage:nth-child(7)::after {
    width: 284px;
    height: 157px;
    right: 0;
  }

  .support-actions__bottom-img {
    width: 432px;
    height: 626px;
  }

  .support-actions__bottom {
    padding-left: calc(50% - 538px);
    padding-right: calc(50% - 538px);
  }

  .participants-nav__counter-wrap {
    display: flex;
  }

  .main {
    gap: 50px;
  }

  .participants {
    padding-left: calc(50% - 595px);
    padding-right: calc(50% - 595px);
  }
}

@media (min-width: 1090px) and (max-width: 1199px) {
  .center {
    padding-left: calc(50% - 511px);
    padding-right: calc(50% - 511px);
  }

  .header-title__top,
  .header-title__middle,
  .header-title__end {
    font-size: 32px;
  }

  .header-content {
    width: 400px;
  }

  .support-actions__text,
  .support-actions__text-highlight {
    font-size: 22px;
  }

  .header-btn {
    width: 200px;
    padding: 13px 20px;
  }

  .main {
    gap: 60px;
  }

  .support-actions__text {
    line-height: 43px;
  }

  .support-actions__table {
    font-size: 16px;
    margin-top: 6px;
  }

  .stage {
    gap: 8px;
    padding: 11px;
  }

  .support-actions__bottom-img {
    width: 400px;
    height: 519px;
  }

  .support-actions__bottom {
    padding-left: calc(50% - 490px);
    padding-right: calc(50% - 490px);
  }

  .support-actions__text-right {
    width: 600px;
  }

  .support-actions__table {
    width: 600px;
  }

  .support-actions__bottom-content-info {
    font-size: 17px;
  }

  .stage:nth-child(7)::after {
    width: 291px;
    height: 148px;
    right: -11px;
    bottom: 6px;
    position: relative;
  }

  .stage-text {
    font-size: 18px;
  }

  .participants-nav {
    display: none;
  }

  .participants-nav-mob {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .participant-img {
    margin: 0 4px;
  }

  .participants {
    padding-left: calc(50% - 168px);
    padding-right: calc(50% - 168px);
  }
}

@media (min-width: 769px) and (max-width: 1089px) {
  .center {
    padding-left: calc(50% - 168px);
    padding-right: calc(50% - 168px);
  }

  .header {
    margin-left: -100px;
  }

  .main {
    padding-bottom: 70px;
  }

  .support-actions__top {
    margin-left: -150px;
  }

  .support-actions__bottom {
    flex-direction: column;
  }

  .light-btn {
    border: 0 solid #1f1f1f;
    background: #fff;
    opacity: 0.9;
    padding: 15px 81px 32px 81px;
  }

  .stages-list {
    display: flex;
    flex-direction: column;
  }

  .support-actions__bottom-img {
    width: 500px;
    height: 700px;
  }

  .support-actions__bottom-content {
    align-items: center;
  }

  .support-actions__text {
    font-size: 22px;
    line-height: 36px;
  }

  .support-actions__bottom-img {
    display: none;
  }

  .stages {
    padding-bottom: 0;
  }

  .stage:nth-child(7)::after {
    width: 200px;
    height: 1387px;
    right: -146px;
  }

  .participants-items {
    gap: 0;
  }

  .participants-nav {
    display: none;
  }

  .participants-nav-mob {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .participant-img {
    margin: 9px 14px;
  }
}
